@model PcPartsSite.Models.ViewModels.FilterProductsViewModel

@{
    ViewData["Title"] = "List Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/Home/ListProducts.css" rel="stylesheet" type="text/css" />
}

<div class="row">

    <div class="col-xs-12 col-md-2 filter-section">

        <form asp-action="ListProducts">
            <input type="hidden" name="value" value="@ViewBag.value" />
            <input type="hidden" name="filter" value="@ViewBag.filter" />

            @for (int i = 0; i < Model.filterSections.Count; i++)
            {
                @Html.HiddenFor(m => m.filterSections[i].SectionFilter.Name)
                <p>
                    <a class="filter-tab" data-toggle="collapse" href="#collapse-@i" aria-expanded="false" aria-controls="footwear">
                        @Html.DisplayFor(m => m.filterSections[i].SectionFilter.Name)
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </p>
                <div class="collapse collapse-@i" id="collapse-@i">
                    <ul style="list-style:none;">
                        @for (int j = 0; j < Model.filterSections[i].selectableFilters.Count; j++)
                        {
                            <li>
                                @Html.CheckBoxFor(model => model.filterSections[i].selectableFilters[j].isSelected, true)

                                @Html.HiddenFor(model => model.filterSections[i].selectableFilters[j].filter.Id)
                                @Html.HiddenFor(model => model.filterSections[i].selectableFilters[j].filter.Display)
                                @Html.HiddenFor(model => model.filterSections[i].selectableFilters[j].filter.MinValue)
                                @Html.HiddenFor(model => model.filterSections[i].selectableFilters[j].filter.MaxValue)
                                @Html.DisplayFor(model => model.filterSections[i].selectableFilters[j].filter.Display)
                            </li>
                            Model.filterSections[i].selectableFilters[j].isSelected = false;
                        }
                    </ul>
                </div>
            }

            <button type="submit" style="margin-bottom:20px;">Submit</button>
        </form>

    </div>

    <div class="col-xs-12 col-md-10 products-section">
        @if (!(Model.Products.Count() > 0))
        {
            <p class="no-results">No Results Found</p>
        }
        else
        {
            <div class="row vdivide flex" style="flex-wrap:wrap;">
                @foreach (PcPartsSite.Models.Product product in Model.Products)
                {

                    <input type="hidden" name="productIds" value="@product.Id" />
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        @*makes column length based on amount of columns set*@
                        <a class="product" href="@Url.Action("ViewProduct","Home", new { id = product.Id })"><p> @Html.DisplayFor(p => product.Name)</p> </a>
                        @{
                            string base64 = Convert.ToBase64String(product.Image);
                            base64 = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <a href="@Url.Action("ViewProduct","Home", new { id = product.Id })"><img class="product-img" src="@base64" /></a>
                        <div class="price-sec text-right">
                            @if (product.Discount > 0)
                            {
                                <div class="discount-sec">
                                    <s>@Html.DisplayFor(p => product.Price)</s>
                                    <span class="discount">@Html.DisplayFor(p => product.Discount)</span>
                                </div>
                                decimal finalPrice = (decimal)(product.Price * (1 - product.Discount));
                                <p class="price">@finalPrice.ToString("C")</p>
                            }
                            else
                            {
                                <div class="discount-sec"></div>
                                <p class="price">@Html.DisplayFor(p => product.Price)</p>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
