@model PcPartsSite.Models.Filter

@{
    ViewData["Title"] = "Delete Filter";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@{
    PcPartsSite.Models.FilterItem demoFilterItem = new FilterItem();
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <p><b>@Html.DisplayNameFor(p => Model.Name):</b> @Html.DisplayFor(p => Model.Name)</p>

    <h3>This will Delete the Following FilterItems</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => demoFilterItem.Display)</th>
        </tr>
        @foreach (FilterItem filterItem in ViewBag.FilterItems)
        {
            <tr>
                <td>@filterItem.Display</td>
            </tr>
        }
    </table>

    <button title="Delete" onclick="location.href='@Url.Action("DeleteFilterConfirmed", new { id = Model.Id })'">Delete</button>
</div>